.box_articles {
    border-radius: 45px;
    width: 400px;
    height: 400px;
    justify-content: center;
    border: 2px solid #4F7427;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    align-items: center;
}
.click{
    font-family: 'Actay';
    color: #ffffff;
}
.films{
    position: relative;
    display: flex;
    margin-left: 2%;
}
.foto_articles {
    width: 100%;
    height: auto;
    border-radius: 45px;
}
h10{
    font-family: 'Actay Condensed';
    font-size: 20px;
    text-align: center;
    color: #2E2E2E;
    margin-top: 20px;
    margin-bottom: 20px;
}
.read_button {
    background-color: #4F7427;
    text-decoration: none;
    width: 200px;
    height: 70px;
    text-align: center;
    border-radius: 45px;
    font-family: 'Actay';
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
  h11{
    text-decoration: none;
    font-style: normal;
    width: 200px;
    height: 70px;
    text-align: center;
    font-family: 'Actay';
    color: #ffffff;
    font-size: 15px;
  }