* {
    box-sizing: border-box;
  }

  html,
  body {
    background-color: #EFEFEF;
    margin-top: 10px;
    margin-left: 10px;
    height: 100%;
  }
  .bar {
    text-decoration: none;
    width: 200px;
    height: 70px;
    margin-right: 10px;
    text-align: center;
    border-radius: 45px;
    font-family: 'Actay-Regular';
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid #6CA431;
  }

  p{
    font-family: 'Actay-Regular';
    font-style: normal;
    font-size: 30px;
    color:#2E2E2E;
  }