@font-face {
    font-family: 'Actay-Regular';
    src: url('/src/fonts/Actay-Regular.otf'); 
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'ActayCondensed-Thin';
    src: url('../fonts/ActayCondensed-Thin.otf');
    font-weight: normal;
}
@font-face {
    font-family: "ActayWide-Bold";
    src: url('../fonts/ActayWide-Bold.otf');
    font-weight: normal;
}
