.indexx {
  background-image: url('/src/images/Vector-5.webp');
  background-size: cover;
}

.logo{
  position: relative;
  size: 10%;
  margin-left: 20px;

}

.logo_main{
  position: relative;
  height: 100px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 15%;
}
.bar_profile {
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cities {
  position: relative;
  text-decoration: none;
}
p2 {
  color: #2E2E2E;
  font-family: 'Actay';
  font-size: 30px;

}

h1 {
  position: absolute;
  left: 800px;
  top: 300px;
  right: 50px;
  color: #2E2E2E;
  font-family: 'Actay';
  font-size: 20px;
  text-align: right;

}
