.article_name{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 470px;
    height: 84px;
    text-align: center;
    border-radius: 30px;
    font-family: 'Actay';
    margin-left: 20px;
    font-size: 40px;
    color: #4F7427;
}
.arrow{
    display: flex;
    align-items: center;
}
.article_name_position{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.article_container {
    position: relative;
    display: flex;
    background-color: rgba(248, 248, 248, 0.581);
    margin-left: 20px;
    margin-right: 20px;
    height: 360px;
    border-radius: 45px;
    border: 3px solid #4F7427;
    backdrop-filter: blur(5px);
    justify-content: space-between;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
}

.film{
    width: 27%;
    background-color: #4F7427;
    border-radius: 40px / 40px;
    height: 357px;
}
h3{
    font-family: 'Actay Wide';
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #FBF8EC;
}

.tegs{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h5{
    font-family: 'Actay';
    width: 257px;
    height: 33px;
    border-radius: 45px;
    border: 5px solid #FBF8EC;
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    margin-bottom: 20px;
    color: #FBF8EC;
}
.text_article{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}
h6{
    font-family: 'Actay Wide';
    font-size: 30px;
    color: #4F7427;

}
h7{
    font-family: 'Actay Condensed';
    font-size: 20px;
    color: black;
    width: 400px;
}
h8{
    color: #4F7427;
    font-family: 'Actay';
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
